{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-image: url({% static 'loginimg.jpg' %});background-repeat: no-repeat;background-size: cover;">
<h1 style=color:red>LOGIN</h1>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter user name"> <br>
    <input type="password" name="password" placeholder="Enter password"> <br>
    <input type="submit">
    <br>
</form>
    New user
    <a href="/register" class="btn btn-primary">Register</a>
    <br>

{% for msg in messages %}
<h2 style=color:red>{{msg}}</h2>
{% endfor %}
</body>
</html>